body {
    height: 100vh;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    background-image: linear-gradient(to top,
            #fcc5e4 0%,
            #fda34b 15%,
            #ff7882 35%,
            #c8699e 52%,
            #7046aa 71%,
            #0c1db8 87%,
            #020f75 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 5px 10px white, 0 10px 20px white, 0 15px 30px rgb(239, 101, 251);
}
p {
    font-size: 35px;
}

p>span {
    font-size: 70px;
    font-weight: bold;
    vertical-align: sub;
}

button {
    margin: 10px 15px;
    border: 5px solid grey;
    padding: 15px 20px;
    width: 150px;
    height: 80px;
    border-radius: 20px;
    font-size: large;
    font-family: cursive;
    background-color: inherit;
    transition: all 0.3 ease-in-out;
    cursor: pointer;
}

button:hover {
    background-color: skyblue;
}